{{#unless login}}
        <a href = "/home">Home</a>
    {{#ifEquals admin 'Admin'}}
        <a href = "/admin">Admin Links</a>
    {{else ifEquals admin 'Finance Admin'}}
        <a href = "/admin">Admin + Finance Links</a>
    {{else ifEquals admin 'Sales Admin'}}
        <a href = "/admin">Admin + Sales Links</a>
    {{else ifEquals admin 'HR Admin'}}
        <a href = "/admin">Admin + HR Links</a>
    {{else ifEquals admin 'Engineering Admin'}}
        <a href = "/admin">Admin + Engineering Links</a>
    {{/ifEquals}}
        <a href = "/logout">Sign Out</a>
{{/unless}}