body {
    background-color: rgb(13, 34, 54);
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: rgb(242, 249, 255);
    height: 5em;
    margin: -0.5em;
    overflow: hidden;
    padding: 0.625em;
}

.logo { margin-left: 1.25em; }
img { height: 4.625em; }

.header-right {
    float: right;
    margin-right: 0.625em;
}

.header-right a {
    background: linear-gradient(to right, rgb(28, 56, 82), rgb(58, 87, 114));
    border-radius: 0.625em;
    color: #FFFFFF;
    float: left;
    font-size: 1em;
    line-height: 1.625em;
    margin: 1em 0.625em;
    padding: 0.75em 1.25em 0.75em 1.25em;
    text-align: center;
    text-decoration: none;
}

.header-right a:hover { opacity: 0.75 }

.wrapper {
    margin-top: 6.25em;
    overflow: auto;
    text-align: center;
}

.outer-box {
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
}

.inner-box {
    background-color: #FFFFFF;
    border-radius: 1em;
    color: rgb(13, 34, 54);
    font-size: 1em;
    height: 25em;
    line-height: 1.5em;
    margin: auto;
    overflow: auto;
    width: 25em;
}

.inner-box a {
    color: rgb(28, 56, 82);
    display: block;
    height: 1.75em;
    padding-bottom: 0.125em;
    padding-top: 0.375em;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.inner-box a:hover {
    background-color: rgb(53, 83, 112);
    color: rgb(201, 212, 223);
    letter-spacing: 0.03em;
}

ul {
    list-style-type: none;
    padding: 0em;
}

.box-title {
    color: rgb(28, 56, 82);
    font-size: 1.75em;
    font-weight: bold;
    padding-bottom: 1em;
    padding-top: 2em;
    text-align: center;
}

.input {
    background-color: rgba(145, 170, 194, 0.1);
    border: 0.125em solid rgba(0, 0, 0, 0.02);
    border-radius: 1.25em;
    box-sizing: border-box;
    color: rgb(49, 64, 71);
    font-weight: bold;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    margin: auto 3em 1.5em 3em;
    outline: none;
    padding: 0.625em 1.25em;
    text-align: center;
    width: 75%;
}

.error-message {
    color: rgb(49, 64, 71);
    font-size: 0.75em;
    text-align: center;
}

.sign-in {
    background: linear-gradient(to right, rgb(28, 56, 82), rgb(58, 87, 114));
    border: 0em;
    border-radius: 1.25em;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0.875em;
    margin-top: 1.5em;
    padding: 0.625em 2.25em;
}

.sign-in:hover { opacity: 0.75 }

.inner-box ol {
    text-align: left;
}

@media (max-width: 35em) {
    .main {
        border-radius: 0em;
    }
}