<!doctype html>
<html>
    <head>
        <title>Admin Portal</title>
        <link rel = "stylesheet" href = "/stylesheets/style.css">
        <script src = "/routes/login.js"></script>
    </head>
    <body>

        <div class = "header">
            <a class = "logo" href = "#default"><img src = "/images/eggylogo.png"></a>
            <div class = "header-right">
                <nav>
                    {{> navbuttons}}
                </nav>
            </div>
        </div>

        <div class = "wrapper">
            {{{body}}}
        </div>

    </body>
</html>
