<div class = "box-one main-box">
    <p class = "box-title sub">Admin Links</p>
    <nav>
        <ul>
            <li><a href = "/admin/manage">Manage User Accounts</a></li>
            <li><a href = "/admin/assign">Assign Roles</a></li>
            <li><a href = "/admin/help">Help Desk</a></li>
        </ul>
    </nav>
</div>

{{> roles}}
