<!doctype html>
<html>
    <head>
        <title>Admin Portal</title>
        <link rel = "stylesheet" href = "/stylesheets/style.css">
        <script src = "/routes/login.js"></script>
    </head>
    <body>
        <div class = "header">
            <a class = "logo" href = "#default"><img src = "/images/eggylogo.png" height = "75px"></a>
            <div class = "header-right">
                <nav>
                    <a href="home.html">Home</a>
                    <a href="/logout">Sign Out</a>
                </nav>
            </div>
        </div>

        <div class = "main-box">
            <p class = "box-title">Admin Type</p>
            <nav>
                <ul>
                    <li><a href = "#">Link 1</a></li>
                    <li><a href = "#">Link 2</a></li>
                    <li><a href = "#">Link 3</a></li>
                    <li><a href = "#">Link 4</a></li>
                    <li><a href = "#">Link 5</a></li>
                    <li><a href = "#">Link 6</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>
