<div class = "outer-box">
    <div class = "inner-box">
        <p class = "box-title">Admin Links</p>
        <nav>
            <ul>
                <li><a href = "/admin/manage">Manage User Accounts</a></li>
                <li><a href = "/admin/assign">Assign Roles</a></li>
                <li><a href = "/admin/help">Help Desk</a></li>
            </ul>
        </nav>
    </div>
</div>

{{> roles}}