<div class = "header">
    <a class = "logo" href = "#default"><img src = "/images/eggylogo.png"></a>
    <div class = "header-right">
        <nav>
            <a href = "/home">Home</a>
            <a href = "/logout">Sign Out</a>
        </nav>
    </div>
</div>


<div class = "box-one main-box">
    <p class = "box-title sub">Admin Links</p>
    <nav>
        <ul>
            <li><a href = "#">Manage User Accounts</a></li>
            <li><a href = "#">Assign Roles</a></li>
            <li><a href = "#">Help Desk</a></li>
        </ul>
    </nav>
</div>


<div class = "box-two main-box">
    <p class = "box-title sub">[Role] Links</p>
    <nav>
        <ul>
            <li><a href = "#">Link 1</a></li>
            <li><a href = "#">Link 2</a></li>
            <li><a href = "#">Link 3</a></li>
            <li><a href = "#">Link 4</a></li>
            <li><a href = "#">Link 5</a></li>
            <li><a href = "#">Link 6</a></li>
        </ul>
    </nav>
</div>
