<div class = "outer-box">
    <div class = "inner-box">
        <p class = "box-title sub">{{placeholder}}</p>
        <nav id = "info">
            <ul>
            </ul>
        </nav>
    </div>
</div>