<div class = "outer-box">
    <div class = "inner-box">
        <p class = "box-title">Employee Information</p>
        <nav id = "info">
            <ol>Welcome, {{ firstname }} {{ lastname }}</ol>
            <ul>
                <ol>User ID: {{ userid }}</ol>
                <ol>Role: </ol>
                <ol>Variable: </ol>
                <ol>Variable: </ol>
            </ul>
        </nav>
    </div>
</div>

<div class = "outer-box">
    <div class = "inner-box">
        <p class = "box-title">Quick Links</p>
        <nav>
            <ul>
                <li><a href = "/home/calendar">Calendar</a></li>
                <li><a href = "/home/benefits">Benefits & Insurance</a></li>
                <li><a href = "/home/timesheets">Timesheets</a></li>
            </ul>
        </nav>
    </div>
</div>
