<div class = "box-one main-box">
    <p class = "box-title sub">Employee Information</p>
    <nav id = "info">
        <p class = "user-name">Welcome, {{ firstname }} {{ lastname }}</p>
        <ul>
            <ol>User ID: {{ userid }}</ol>
            <ol>Role: </ol>
            <ol>Variable: </ol>
            <ol>Variable: </ol>
        </ul>
    </nav>
</div>


<div class = "box-two main-box">
    <p class = "box-title sub">Quick Links</p>
    <nav>
        <ul>
            <li><a href = "#">Calendar</a></li>
            <li><a href = "#">Benefits & Insurance</a></li>
            <li><a href = "#">Timesheet</a></li>
        </ul>
    </nav>
</div>
