
<span id="loginError"></span>

<div class="header">
    <a class="logo" href="#default"><img src="/images/eggylogo.png" height="75px"></a>
    <div class="header-right">
        <nav>
            <a href="/login">Sign In</a>
        </nav>
    </div>
</div>

<form method="post" id="loginForm">
    <div class="main-box">
        <p class="box-title">Sign in</p>
        <input class="input" type="text" placeholder="Username" name="login_id" id="username">
        <input class="input password" type="password" placeholder="Password" name="login_password" id="password">
        <input class="sign-in" id="submit" type="submit" value="Login">
    </div>
</form>

<script>
    document.getElementById("submit").onclick = function () {
        document.getElementById("loginError").innerHTML = "Incorrect login credentials.";
    };
</script>