<div class = "header">
    <a class = "logo" href = "#default"><img src = "/images/eggylogo.png"></a>
</div>

<form method = "post" id = "loginForm">
    <div class = "main-box">
        <p class="box-title">Sign in</p>
        <input class = "input" type = "text" placeholder = "Username" name = "login_id" value={{{username}}}>
        <input class = "input password" type = "password" placeholder = "Password" name = "login_password" value = {{{password}}}>
        <div class = "error-message">
            <span>{{loginError}}</span>
        </div>
        <input class = "sign-in" id = "submit" type = "submit" value = "Login">
    </div>
</form>
