body {
    background-color: rgb(13, 34, 54);
    font-family: 'Ubuntu', sans-serif;
}

.header {
    overflow: hidden;
    background-color: rgb(242, 249, 255);
    padding: 10px;
    margin: -10px;
    height: 80px;
}

.logo {margin-left: 20px;}
img {height: 75px;}

.header-right a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(28, 56, 82), rgb(58, 87, 114));
    margin: 16px 10px auto;
}

.header-right li {
    display: inline;
}

.header-right {
    float: right; 
    margin-right: 10px;
}

.header-right a:hover {opacity: 0.75}

.main-box {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    align-self: auto;
    margin: 100px auto;
    border-radius: 1em;
    font-size: 15px;
    line-height: 25px;
    color: rgb(13, 34, 54);
}

.main-box a {
    color: rgb(28, 56, 82);
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 27px;
    padding: 5px 0px 3px 0px;
    margin-top: 3px;
    display: block;
}

.main-box a:hover {
    background-color: rgb(53, 83, 112);
    color: rgb(201, 212, 223);
    letter-spacing: 0.5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

.box-title {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 15px;
    color: rgb(28, 56, 82);
    font-weight: bold;
    font-size: 27px;
}

.input {
    width: 300px;
    color: rgb(49, 64, 71);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: rgba(145, 170, 194, 0.1);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin: auto 50px 25px 50px;
    text-align: center;
    outline: none;
}

.input.password {margin-bottom: 50px;}

.error-message {
    text-align: center;
    font-size: 10px;
    color: rgb(49, 64, 71);
    margin-top: -35px;
}

.sign-in {
    cursor: pointer;
    border-radius: 20px;
    color: #FFFFFF;
    background: linear-gradient(to right, rgb(28, 56, 82), rgb(58, 87, 114));
    border: 0;
    padding: 10px 35px 10px 35px;
    font-size: 13px;
    margin-left: 38%;
    margin-top: 30px;
}

.sign-in:hover {opacity: 0.75}

.box-one.main-box {
    float: left;
    margin-left: 150px;
}

.box-two.main-box {
    float: right;
    margin-right: 150px;
}

.box-title.sub {
    padding-top: 45px;
}

.user-name {
    text-indent: 10px;
}

.main-box ol {
    text-indent: 25px;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}
